<h1>Huevos fritos</h1>
<p>
Huevo fritoCompartirTweetEnviarWhatsappPor Paula Caeiro 21 de junio de 2021En esta receta te contamos cuáles son los pasos para freír un huevo con puntilla, con la clara cuajada y con la yema líquida, o lo que es lo mismo, cómo hacer un huevo frito perfecto.Recetas con pocos ingredientesRecetas de friturasRecetas de huevos
Una cosa es hacer un huevo frito y otra cosa es hacer un huevo frito perfecto. Entendemos por huevo frito perfecto aquel que tiene su clara completamente cuajada, su yema perfectamente líquida y una preciosa puntilla a su alrededor. Hacer un huevo frito perfecto no tiene ningún misterio ni requiere de trucos especiales ni utensilios específicos para su preparación. Solamente es necesario controlar dos aspectos; la cantidad de aceite a utilizar y su temperatura, según detallamos en la receta. En cuanto a los huevos, lo mejor es optar siempre por huevos de gallinas criadas en libertad y, cuanto más frescos sean estos, más sencillo resultará freírlos ya que los huevos frescos tienden a esparcirse menos por la sartén. El tipo de aceite a utilizar va a depender de la disponibilidad, costumbres y gustos particulares. En principio cualquier aceite adecuado para freír va a ser válido, el de oliva aporta más sabor y el de girasol es más neutro. Sea cual sea el aceite elegido, es importante utilizarlo siempre lo suficientemente caliente, aunque por debajo de su punto de humo para evitar que se queme. Por último, señalar que, en esta receta explicamos cómo hacer un único huevo frito ya que la operativa es la misma tanto para hacer un huevo frito como para cocinar varios y, la cantidad a preparar va a depender de las necesidades de cada receta. Lo habitual será cocinar entre uno y dos huevos fritos por persona, dependiendo de si se trata de un plato único o si esta preparación forma parte de otra receta. A continuación, explicamos cómo hacer, paso a paso, un huevo frito perfecto.
</p> 

<h2>Información</h2>

Tiempo de preparación: 1 minuto
Tiempo de cocción: 1 minuto
Tiempo total: 2 minutos
Raciones: 1
Categoría: entrante o plato principal
Tipo de cocina: internacional
Calorías: 185 kcal por cada 100 g
Ingredientes de los huevos fritos para 1 persona
1 huevo
Aceite
Sal
<h2>Ingredientes</h2>
Cómo hacer huevos fritos
En primer lugar, abrimos el huevo. Para ello, rompemos la cáscara golpeando esta sobre una superficie dura y, a continuación, abrimos el huevo sobre un cuenco. Aunque se puede abrir el huevo directamente sobre la sartén, abrirlo sobre un cuenco hace más sencillo depositarlo luego en la sartén y evitar así posibles contratiempos.

Huevo en un cuenco
Añadimos el aceite a la sartén, en cantidad suficiente para cubrir todo el fondo. Ponemos la sartén a fuego alto y vigilamos el aceite para que se caliente sin que llegue a humear. Podemos notar que el aceite está lo suficientemente caliente porque se ve claramente menos espeso y comienzan a aparecer burbujitas en su parte inferior. Además, al aproximar la mano debemos notarlo caliente. El tiempo de calentado necesario para que el aceite esté al punto adecuado para freír un huevo va a ser muy variable dependiendo mucho del tipo de cocina; en las cocinas de fuego e inducción este tiempo de calentado va a ser sensiblemente inferior que en las cocinas de vitroceramica. Cuando el aceite esté lo suficientemente caliente sin que llegue a humear, añadimos el huevo y lo dejamos freír.

Freír un huevo
Cuando hayan pasado unos 30 segundos y la puntilla del huevo ya esté casi formada pero la parte superior aún siga transparente, inclinamos un poquito la sartén para que el huevo se vaya hacia el borde y dejamos que el aceite caliente suba por la superficie del huevo, sin que alcance la yema. De esta manera se cocinará la parte superior del huevo. Cuando toda la parte superior del huevo, excepto la yema, esté blanca, retiramos el huevo de la sartén con una espátula o espumadera, dejando escurrir un poco el aceite sobrante. Depositamos el huevo en un plato, añadimos un poco de sal sobre la yema y servimos inmediatamente.

Huevo frito plano cenital
Resumen fácil de preparación
Abrir el huevo sobre un cuenco
Añadir el aceite a la sartén hasta cubrir el fondo. Poner a calentar la sartén a fuego alto
Cuando el aceite esté caliente, pero sin humear, añadir el huevo. Dejar que se vaya formando la puntilla. A continuación, inclinar un poco la sartén y dejar que el aceite caliente suba por la superficie del huevo sin que alcance la yema, para cocinar la parte superior. Cuando toda la parte superior esté blanca, excepto la yema, retirar de la sartén. Añadir sal a la yema y servir inmediatamente